page-login {
ion-content{
	margin-top: 25%;
}
button.login{
    background-color:#00adda ;

    }
     .rounded {
        width: 100%;
       
    }

    #container {
        
        margin-left:auto; 
        margin-right: auto; 
    }
    
}
