page-signup {
 .rounded {
        width: 100%;
       
    }

    #container {
        
        margin-left:auto; 
        margin-right: auto; 
    }
    button.signup{
    background-color:#00adda ;

    }
}
